:root {
    --input-color: "white";
    --border-color: "lightgray";
    --text-color: "black";
    --background-color: "white";
}

.date{}

.description{}

.header{}

.status{}

li {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    background: var(--input-color);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ul li {
    margin-top: 1.5rem;
}

ul {
    padding: 1rem;
}

#task-list li span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(80% - 120px);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    color: var(--text-color);
}

#task-list {
    overflow: hidden;
}

#task-list li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    margin-bottom: 2rem;
}

form button {
    justify-content: center;
    height: 1.5rem;
    width: 3rem;
}

ul li > * {
    margin-right: 0.7rem;
}



form input {
    background: var(--input-color);
    display: block;
    color: var(--text-color);
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px 15px;
    outline: none;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

input:focus {
    border: 2px solid var(--text-color);
}

* {
    font-family: sans-serif;
}

body {
    background: var(--background-color);
    color: var(--text-color);
}

button {
    border-radius: 5px;
    border: 1px solid var(--border-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.colum-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-center {
    display: flex;
    justify-content: center;
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes disappearAnimation {
    0% {
        transform: scaleX(1) scaleY(1);
    }
    50% {
        transform: scaleY(1.5) scaleX(0.5);
    }
    100% {
        transform: scaleX(1) scaleY(1);
    }
}

.disappear-animation {
    animation: disappearAnimation 0.3s ease-out;
}

li span {
    transition: transform 1s ease;
}

@media only screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

#modal-btn {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.modal {
    border: 2px solid black;
    display: none;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 20rem;
    background: #333;
    padding: 0.8rem;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.pagination-btn {
    border-radius: 50%;
    margin-right: 0.7rem;
}

.margin-left {
    margin-left: auto;
}

.modal-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.modal span ,.modal input {
    margin-bottom: 1.5rem;
}
.modal span{
    margin-bottom: 1rem;
    word-wrap: break-word;
    white-space: pre-line;
}